.footer-distributed{
	background-color: #2C3E50;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	padding: 20px 15px;
	margin-top: 80px;
	font-family:'Montserrat';	    
    font-size: 13px;
    font-weight: normal;
}

.footer-distributed .footer-left{
	display: inline-block;
	vertical-align: top;
	width: 40%;
}

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Montserrat';
	margin: 0;
	font-weight: 700;
}

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color: inherit;
}

.footer-distributed .footer-links a:hover{
	text-decoration: underline;
}


.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 12px;
	font-weight: normal;
	margin: 0;
}



@media (max-width: 880px) {

	.footer-distributed{
		font-family:'Montserrat';	    
    	font-size: 12px;
    	font-weight: normal;
	}

	.footer-distributed .footer-left{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

}