#idMensaje-Inscripcion-Ok{
	font-size:20px;
	padding-top:40px;
}

#idLink-Inscripcion-Preview{
	padding-top:20px;
	font-size:20px;
}
#idInscripcion-Preview-Container{
	padding-top:100px;
	padding-bottom:100px;
}