#idFormLogin{
	padding-top:100px;
	padding-bottom:60px;
	max-width: 380px;	
	margin:0 auto;
	
}

input[type="email"]{
	border-radius: 0;	
}

input[type="text"]{
	border-radius: 0;	
}

input[type="password"]{
	border-radius: 0;	
}

#idSubmitButton{	
	border-radius: 2px;
	font-weight: bold;
	max-width:180px;
	margin-top:30px;
	
}

.form-signin-heading{
	margin-bottom:30px;
	color:#469AB6;
}

#idInformationRegister{
	margin-top:30px;	
}




