#menu-items{    
    /*font-family:'Roboto', sans-serif;*/
    font-family: 'Montserrat','Helvetica Neue','Helvetica','Arial','sans-serif';
    font-weight: 400;    
    text-transform: uppercase;
    padding: 17px;
        
}

.mainlogo{
	font-family: 'Montserrat';
	font-size: 36px;
	color:white;
	font-weight: bold;
	margin-top:15px;
}

#menu-items li a{
  color: #fff;
}

#menu-items li a:hover{
  color: #fed136;
}













