#menu-items{    
    /*font-family:'Roboto', sans-serif;*/
    /*font-family: 'Montserrat','Helvetica Neue','Helvetica','Arial','sans-serif';*/
    font-family: 'arial';
    
    font-weight: normal;    
    /*text-transform: uppercase;*/
    padding: 5px 15px;   
    font-size:16px;     
}

#carrusel-items{
	font-family: sans-serif;
	/*font-family: 'Montserrat','Helvetica Neue','Helvetica','Arial','sans-serif';*/
	font-weight: normal; 
}

body{
	font-family:'Montserrat';
	
}
#links-main-body{
	text-decoration:none;
}

#body-main-content{	
	margin-top:80px;
	width:100%;
	height:100%;	
}



.mainlogo{
	font-family: 'Montserrat';
	font-size: 38px;
	color: #fff;
	/*color: #fed136;*/
	font-weight: 700;	
	float: left;
    height: 50px;
    padding: 15px 15px;    
    line-height: 20px;
    margin-left: -15px;
}

#menu-items li a{
  /*color: #fff;*/
  color: #475055;
  font-size:16px;
}

#menu-items li a:hover{
  color: #fed136;
}

#mainNav {
    /*background: #2C3E50;*/
    /*background: #f0f2f5;*/
    background: #FFFFFF;
    
    /*height:60px;  */  
}

@media screen and (max-width:1200px) {        
     #menu-items {        
        padding:0px;
        font-size:10px;
    }
    .mainlogo{
    	padding:0px;
    	font-size:30px;
    	margin-left:3px;
    }
    
    #otro li {
    	padding:0px;
		font-size:9px;	
	}   
	#otro {		
	    width:auto;   
	    padding:0px;
	}
	
	img{
		height:25px;
		display: block;
    	margin: auto;
	} 	
    
}




#otro {
    /*background:#2C3E50;*/
    background: #FFFFFF;
    border-radius:0px;
    width:200px;
    padding:10px;
    margin-top:5px;
    
}

#otro li a:hover{
	background:none;
}

#otro li a{
	/*color:#fff;*/
	color: #475055;
	padding:10px;
}

img{
	margin: 0 auto;
	height:30px;
}

#idTabla{
	padding-top:100px;
	padding-bottom:80px;
	max-width: 580px;	
	margin:0 auto;
	font-size:18px;	
	margin-bottom:60px;
	margin-top:60px;
}

#idAdminTabla{
	 margin-top: 100px;
}


