#idForm-Cambio-Password{
	padding-top:100px;
	padding-bottom:60px;
	max-width: 380px;	
	margin:0 auto;
	
}

input[type="password"]{
	border-radius: 0;	
}

#idSubmit-Password-Change{	
	border-radius: 2px;
	font-weight: bold;
	max-width:280px;
	margin-top:30px;
}

.form-signin-heading{
	margin-bottom:30px;
	color:#469AB6;
}

