#idFormRegister{
	padding-top:100px;
	padding-bottom:60px;
	max-width: 450px;	
	margin:0 auto;
}

#idSubmitRegister{	
	border-radius: 2px;
	font-weight: bold;
	max-width:180px;
	margin-top:30px;
}

#info1{
	font-weight:bold;
	
}
.form-signin-heading{
	margin-bottom:30px;
	color:#469AB6;
}